@import './mixin';
@import './fonts';
@import './veriables';
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.containerr {
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto';
    overflow-x: hidden
}

.info__right {
    background-image: url(./../images/Power__plant1__bg.png);
}

@import './all-block/all-block';